.fondo{
  margin: 2%;
  background-color:  rgb(108, 113, 160) ;
  border-style: solid;
  border-color:rgba(61, 64, 91);
  border-radius: 15px;
}
.formNewBooks {
  padding: 20px;
}
#button1 {
  width: 45%;
}
.d-flex input {
  margin: 0.9em 0em;
}
.d-flex #button1 {
  margin: 1.5em 0.6em;
  padding: 0.4em 2.4em;
}
.d-flex table {
  margin: 1em auto;
}
table .btnedit {
  color: lightgreen;
  cursor: pointer;
}
table .btndelete {
  color: tomato;
  cursor: pointer;
}
.tableBooks{
  margin: 2%;
}
tr{
  color: rgb(244,241,222);
}